@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:100');

.aigle-bg{
	
	background:url('../img/aigle.png') no-repeat top center;
}

.gradient-aigle {
	/*background-color: rgba(241,217,138, 0.8);*/
	height: auto;

background: rgba(232,133,130,1);
/*background: -moz-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,133,130,1)), color-stop(0%, rgba(232,133,130,1)), color-stop(0%, rgba(232,133,130,1)), color-stop(0%, rgba(232,133,130,1)), color-stop(100%, rgba(241,215,138,1)));
background: -webkit-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);
background: -o-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);
background: -ms-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);*/
background: linear-gradient(to bottom, rgba(232,133,130,0.9) 0%, rgba(232,133,130,0.9) 0%, rgba(232,133,130,0.9) 0%, rgba(232,133,130,0.9) 0%, rgba(241,215,138,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88582', endColorstr='#f1d78a', GradientType=0 );

	
}

nav ul>li{
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #fff;
}
nav {
	margin-top: 42px;
}
.accueil {
	text-align: center;
	color: #fff;
	padding-top: 119px;
}
.accueil p {
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
}
.accueil h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 150px;
}
.row h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color:#fff;
	font-size: 30px;
	padding-top: 10px;
}
.trait {
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin:0 auto;
	margin-top: 47px;
}
.learn-more > p {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
	max-width: 163px;
	border: 3px solid #fff;
	margin-left: auto;
    margin-right: auto;
    padding: 12px 8px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 150px;
}
.bold{
	font-weight: bold;
}
.under-hd{
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 150px;
	margin-bottom: 30px;
	height: auto;
}
.sidebar{
	max-width: 281px;
	height: 5px;
	background-color: #fff;
}
.content-story > p {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color:#000;
	text-align: center;
	margin-top: 90px;
}
.content-story > h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}
.story-barre {
	max-width: 60px;
	height: 3px;
	background-color: rgb(243,129,129);
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
.content-story > .under-barre{
	color: rgb(153,153,153);
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-bottom: 95px;
	margin-left: 15px;
	margin-right: 15px;
}
img.center-block {
	width: 100%;
	height: auto;
}
.pics {
	margin-bottom: 40px;
	height: auto;
}
.margin-pics {
	margin-bottom: 25px;
}
.bande {
	margin-top: 110px;
}
.bg-green {
	background-color: rgb(149,225,211);
	height: auto;
}
.bg-grey {
	background-color: rgb(248,248,248);
	height: auto;
}
.chiffres {
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 72px;	
	text-align: center;
	padding-top: 64px;
	padding-bottom: 90px;
}
.chiffres > p{
	font-family:'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.services-pics {
	padding-left: 30px;
	height: auto;
}
.icon {
	margin-right: 30px;
}
.services-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color:#000;
	text-transform: uppercase;
}
.services-text {
	display: inline-block;
}
.services-text-2 {
	padding-left: 66px;
}
.barre {
	width: 100%;
	height: 1px;
	background-color: rgb(229,229,229);
	clear: both;
}
.section-services {
	height: auto;
}
.bloc {
	margin: 42px 0px;
}
.nature-bg{
	background:url('../img/nature-bg.png') no-repeat top left fixed;
}
.montain-bg{
	background:url('../img/montain.png') no-repeat top left fixed;
}
.gradient-nature{
	background-color: rgba(236,236,236, 0.8);
    height: auto;
}
.phone {
	background:url('../img/smartphone.png') no-repeat top center;
	height: 583px;
	margin-top: 47px;
}
.picture {
	margin-bottom: 25px;
}
.section-photo {
	border: 1px solid rgb(229,229,229);
	padding:15px;
}
.section-photo > p {
	display: inline-block;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
}
.section-photo-text > div {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-style: italic;
	color: rgb(153,153,153);
	padding: 15px;
	border: 1px solid rgb(229,229,229);
	border-top: 0;
}
.arrow {
	float: right;
	margin-top: 12px;
}
.section {
	margin-bottom: 10px;
}
.speech {
	border: 3px solid #95e1d3;
	padding: 42px;
    /*width: 150px;*/
    /*display: inline-block;*/
    margin-top: 70px;

    margin-right: 62px;
    float: left;
}
.speech-barre{
	max-width: 60px;
	height: 3px;
	background-color: rgb(243,129,129);
	position: relative;
    top: 25px;
}
.quote {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 24px;
	color:#999999;
}
.sign {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	margin-left: 65px;
}
.speech-text {
	padding-left: 60px;
}
.arrow-left {
    float: left;
    margin-top: 135px;
    margin-right: 25px;
    cursor: pointer;
}
.arrow-right {
	float: right;
	margin-top: 135px;
	cursor: pointer;
}
.content-quote {
	margin-top: 82px;
	margin-left: 70px;
	margin-bottom: 70px;
}
.photo > img {
	margin-bottom: 25px;
}
.photo > div {
	margin-bottom: 25px;
}
.photo-2 > div {
	margin-bottom: 25px;
}
.layer-16 {
	background:url('../img/Layer-16.png') no-repeat top center;
	height: 445px;
	position: relative;
    bottom: 10px;
    right: 10px;
}
.layer-19 {
	background:url('../img/Layer-19.png') no-repeat top center;
	height: 445px;
}
.layer-18{
	background:url('../img/Layer-18.png') no-repeat top center;
	height: 445px;
}
.gradient-photo{
	background: rgba(232,133,130,1);
/*background: -moz-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,133,130,1)), color-stop(0%, rgba(232,133,130,1)), color-stop(0%, rgba(232,133,130,1)), color-stop(0%, rgba(232,133,130,1)), color-stop(100%, rgba(241,215,138,1)));
background: -webkit-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);
background: -o-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);
background: -ms-linear-gradient(top, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(232,133,130,1) 0%, rgba(241,215,138,1) 100%);*/
background: linear-gradient(to bottom, rgba(232,133,130,0.9) 0%, rgba(232,133,130,0.9) 0%, rgba(232,133,130,0.9) 0%, rgba(232,133,130,0.9) 0%, rgba(241,215,138,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88582', endColorstr='#f1d78a', GradientType=0 );

}
.bg-green-photo {
	position: relative;
    bottom: 450px;
    background-color: rgb(149,225,211);
    height: auto;
}
.gradient-photo > img {
	margin-bottom: 25px;
}
.photo {
	background-color: #95e1d3;
}
.icon-facebook {
	padding: 15px;
    color: #fff;
    background-color: #f38181;
    width: 50px;
    top: 208px;
    position: relative;
    left: 70px;
    cursor: pointer;
    border:1px solid #f38181;
}

.icon-twitter {
	padding: 15px;
    color: #f38181;
    background-color: #fce38a;
    width: 50px;
    position: relative;
    top: 147px;
    left: 120px;
    cursor: pointer;
    border:1px solid #f38181;
    border-left: 0;
}
.icon-pinterest {
	padding: 15px;
    color: #f38181;
    background-color: #fce38a;
    width: 50px;
    top: 86px;
    left:170px;
    position: relative;
    cursor: pointer;
    border:1px solid #f38181;
    border-left: 0;
}
.icon-instagram {
	padding: 15px;
    color: #f38181;
    background-color: #fce38a;
    width: 50px;
    top: 25px;
    left: 220px;
    position: relative;
    cursor: pointer;
    border:1px solid #f38181;
    border-left: 0;
}
.name {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.job{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: italic;
	color: #b6b6b6;
	margin-bottom: 25px;
}
.sponsor {
	margin-top: 60px;
	margin-bottom: 60px;
}
.pic-4	{
	background: url(../img/pic-4.png) no-repeat top center;

}
.cercle-pic > img {
	border-radius: 50%;
    width: 213px;
    height: 213px;
}
.client {
	border-radius: 50%;
    width: 112px;
    height: 112px;
    margin-right: 25px;
    float: left;

}
.client-barre {
	max-width: 60px;
	height: 3px;
	background-color: rgb(243,129,129);
	margin-left: 137px;
}
.name-client {
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.name-client  p {
	margin-bottom: 7px;
}
.job-client {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #b6b6b6;
    margin-bottom: 17px;
}
.client-texte > p {
	margin-top: 25px;
    padding-left: 139px;
}
.client-item {
	margin-top: 87px;
}
.bloc-client {
	margin-bottom: 125px;
}
.bloc-date {
	background-color: #95e1d3;
	width: 62px;
	height: 72px;
	position: relative;
    bottom: 83px;
    right: 10px;
}
div.bloc-date > p:nth-child(1) {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color:#fff;
	font-size: 30px;
	text-align: center;
	margin-bottom: 0;
	height: 45px;
	padding-top: 6px;
}
div.bloc-date > p {
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-weight: lighter;
	font-style: italic;
	text-align: center;
}
.blog-title > p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.under-blog-title > p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999999;
	margin-bottom: 20px;
}
.blog-barre {
	width: 100%;
	background-color: #e5e5e5;
	height: 1px;
}
.socials {
	margin-top: 20px;
	color: #a8a8a8;
}
.views {
	float: left;
	margin-right: 20px;
}
.views > p {
	display: inline-block;
}
.comments > p {
	display: inline-block;	
}
.blog-infos {
	position: relative;
    bottom: 47px;
}
.bg-openmap {
	background: url(../img/openmap.png) no-repeat top fixed;
}
.icon-pin > img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}
.icon-pin {
	text-align: center;
}
.icon-pin > p {
	color: #f38181;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-top: 20px;
}
.story-barre-icon-pin {
	max-width: 60px;
	height: 3px;
	background-color: rgb(243,129,129);
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 57px;
}
.footer {
	background-color: #f8f8f8;
	padding-top: 75px;
}
.title-footer {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #cccccc;
	margin-bottom: 40px;
}
.under-title-footer > p {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #b4b4b4;
	margin-bottom: 50px;
}
.followers > p {
	float: left;
	font-family: 'Montserrat', sans-serif;
	
}
.followers > p:nth-child(1) {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin-right: 2px;
}
.followers > p:nth-child(2) {
	position: relative;
	top: 3px;
}
.footer-barre {
	width: 100%;
	background-color: #e5e5e5;
	height: 1px;
}
ul#socials-footer li{
	display: inline;
	list-style: none;
   	padding: 2px ;
   	margin: 0;
   	color: #95e1d3;
   	cursor: pointer;
   	margin-right: 10px;
  }

.socials-ft {
	margin-top: 20px;
}
button {
	background-color: #95e1d3;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    height: 40px;

}
input{
	height: 40px;
	border:1px solid #e7e7e7;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: grey;
	padding: 10px;
	float: left;
}
.title-footer-2 > p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;	
	margin-bottom: 40px;
}
.thumbnail-ft {
	float: left;
	margin-right: 20px;
}
.blog-ft-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
.blog-ft-date {
	color: #d2d2d2;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
}
.blog-ft-item {
	margin-bottom: 30px;
}
.gallery-insta > div {
	float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}
.under-gallery-insta {
	clear: both;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-style: italic;

}
.under-gallery-insta > p {
	margin-top: 20px;
	color: #a9a9a9;
}

.gallery-text{
	text-align: center;
}
.gallery-text > p {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	bottom: 120px;
}
.img-responsive {
	width: 100%;
}
.footer-trait {
	width: 100%;
	background-color: #e5e5e5;
	height: 1px;
	margin-top: 69px;
}
.copy > p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color:#333333;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
.copy > p > span {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color:#f4a4a4;
	text-align: center;
	margin-top: 25px;
}
.iPhone {
	position: relative;
    bottom: 384px;
    left: 718px;
}
div.mobile{
	height: 0;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus {
	background-color: #fff;
	border:0;
	float: right;
}
.switch {
  opacity: 0;
}

.switch > div {
  width: 80px;
  height: 40px;
  background: #9A9A9A;
  z-index: 0;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  line-height: 40px;
  text-align: right;
  padding: 0 10px;
  color: rgba(0,0,0,.5);
  transition: all 250ms;
  box-shadow: inset 0 3px 15px -3px
}

.switch > input:checked + div {
  background: skyblue;
  text-align: left;
  color: rgba(255,255,255,.75);
}

.switch > div:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: -2px;
  height: 44px;
  width: 44px;
  background: linear-gradient(#f9f9f9 30%,#CDCDCD);
  border-radius: 50%;
  transition: all 200ms;
  box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #f9f9f9;
}

.switch > div:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 11px;
  height: 22px;
  width: 22px;
  background: linear-gradient(#DCDCDC,#E3E3E3);
  border-radius: 50%;
  transition: all 200ms;
}

.switch > input:checked + div:after {
  left: 52px;
}

.switch > input:checked + div:before {
  content: '';
  position: absolute;
  left: 40px;
  border-radius: 50%;
}